.backgroundImg {
  background-image: url('./Img/MudMaskBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 650px;
}
.backgroundText {
  font-weight: bold;
  padding-top: 18%;
  padding-left: 30px;
}
.btnContinue {
  width: 300px;
  background-color: rgb(110, 148, 89);
  text-align: center;
  color: white;
  margin-top: 30px;
  border-radius: 15px;
}
.innerText1 {
  color: rgb(78, 78, 78);
}
.innerFont1 {
  font-size: 45px;
  font-weight: bold;
}
.innerFont2 {
  font-size: 20px;
}
.col1Text {
  margin-top: 50%;
  text-align: left;
}
.col1secondText {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
}
.lipBalm {
  background-image: url('./Img/LipBalm.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.mudMask {
  background-image: url('./Img/MudMask.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.makeUpRemover {
  background-image: url('./Img/MakeUpRemover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.beardOil {
  background-image: url('./Img/BeardOil.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.bathBomb {
  background-image: url('./Img/BathBomb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.brownSugar {
  background-image: url('./Img/BrownSugarFootScrub.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.card {
  width: 100%;
}
.firstTextRow {
  margin-top: 50px;
}
.secondTextRow {
  margin-top: 20px;
}

.innerText2 {
  margin-top: 20px;

  color: rgb(66, 66, 66);
  font-weight: 600;
}
.backgroundImg2 {
  background-image: url('./Img/Essentials.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin: 300px auto;
}

.ourProductsText {
  font-size: 60px;
  color: rgb(41, 124, 113);
  text-align: center;
  font-weight: bold;
  margin: 100px auto;
}
